.section-insta {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 3.5rem;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .section-iframe-insta {
    flex-grow: 1;
    max-width: 50%;
    margin-bottom: 1rem;
  }
  
  .sec-insta-about-video {
    flex-grow: 1;
    max-width: calc(50% - 1rem);
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .section-iframe-insta {
      max-width: 100%;
    }
    .sec-insta-about-video {
      max-width: calc(90% - 1rem);
    }
    #myVideo {
      width: 95%;
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .sec-insta-about-video {
      max-width: calc(75% - 1rem);
    }
  }
  
  .video-background {
    background: url('images/frames/phoneFrame23.png') center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    z-index: 0;
  }
  
  #myVideo {
    border-radius: 2rem;
    position: relative;
    z-index: 1;
  }
  
  .insta-h1 {
    font-size: 3.6rem;
    letter-spacing: 1.2px;
    color: rgba(0, 0, 0, .7);
    font-weight: 600;
    margin-top: 30px;
  }
  
  .insta-h3 {
    font-size: 2.4rem;
    letter-spacing: 1.2px;
    color: #fc6701;
    font-weight: 600;
    margin-top: 30px;
  }
  